html,
body {
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1C2C4C;
}

#trocarTema {
    font-size: x-small;
    position: fixed;
    left: 0;
    bottom: 8%;
    width: max-content;
    height: 10vh;
    cursor: pointer;
    background-color: #343434;
    color: #F5F5F5;
}

.temaBranco #logo {
    background-image: url("/src/fotos/Logo/L2.png");
}

.temaBranco {
    background-color: #F5F5F5;
}

.temaBranco #visaoEsproTexto,
.temaBranco #todosAlunos,
.temaBranco #linkAprendiz {
    color: #343434;
}

.temaBranco #textoTuto {
    background-color: #343434;
    color: #ffffff;
}



.temaBranco #KSD,
.temaBranco #ESE,
.temaBranco #PLG {
    background-color: #343434;
    color: #F5F5F5;
}

.temaAmarelo #logo {
    background-image: url("/src/fotos/Logo/L3.png");
}

.temaAmarelo {
    background-color: #FABA04;
}

.temaAmarelo #todosAlunos,
.temaAmarelo #linkAprendiz {
    color: #343434;
}

.temaAmarelo #KSD,
.temaAmarelo #ESE,
.temaAmarelo #PLG {
    background-color: #F5F5F5;
    color: #343434;
}

.temaAmarelo #source {
    background-color: #F5F5F5;
    box-shadow: 10px 10px #343434;
}

.temaAmarelo #etc {
    background-color: #F5F5F5;
}

.temaVermelho #logo {
    background-image: url("/src/fotos/Logo/L4.png");
}

.temaVermelho {
    background-color: #FC233F;
}

.temaVermelho #todosAlunos,
.temaVermelho #linkAprendiz {
    color: black;
}

.temaVermelho #KSD,
.temaVermelho #ESE,
.temaVermelho #PLG {
    background-color: #343434;
    color: #F5F5F5;
}

.temaVermelho #source {
    box-shadow: 10px 10px #343434;
}

.temaVerde #logo {
    background-image: url("/src/fotos/Logo/L5.png");
}

.temaVerde {
    background-color: #04AC94;
}

.temaVerde #todosAlunos,
.temaVerde #linkAprendiz {
    color: black;
}

.temaVerde #KSD,
.temaVerde #ESE,
.temaVerde #PLG {
    background-color: #F5F5F5;
    color: #343434;
}

.temaBranco .opacidade,
.temaAmarelo .opacidade,
.temaVerde .opacidade,
.temaVermelho .opacidade {
    opacity: 0.7;
}

img,
button {
    -webkit-user-drag: none;
    -moz-user-drag: none;
    -ms-user-drag: none;
    user-select: none;
    border-radius: 10px;
}

#PauloAP,
#Lucas,
#Guilherme,
#Kamila,
#Sandra,
#Daniela,
#Ester,
#Sarah,
#Edvan {
    cursor: pointer;
    background-color: unset;
    border: none;
    position: absolute;
    transform: translate(-50%, -50%);
}


#PauloAP,
#Kamila,
#Ester {
    top: 40%;
    left: 40%;
}

#Lucas,
#Sandra,
#Sarah {
    top: 55%;
    left: 40%;
}

#Guilherme,
#Daniela,
#Edvan {
    top: 70%;
    left: 40%;
}

#textoTuto {
    background-color: #ffffff;
    border-radius: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: absolute;
    left: 0;
    top: 23%;
    font-size: medium;
    text-align: center;
    align-items: center;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    pointer-events: none;
}

#visaoEspro {
    position: absolute;
    bottom: 10%;
    right: 10%;
    border: none;
    pointer-events: none;
    width: 800px;
    height: 800px;
}

#visaoEspro-midia {
    position: absolute;
    top: 20%;
    right: 10%;
    border: none;
    width: 400px;
    height: 400px;
}

#visaoEspro-link {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #FABA04;
    border-radius: 10px;
    position: absolute;
    right: 1%;
    top: 60%;
    font-size: medium;
}

#visaoEsproTexto {
    position: absolute;
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    top: 45%;
    left: 50%;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
}

#fecharVisao {
    position: absolute;
    top: 42%;
    cursor: pointer;
    right: 0%;
    border-top-right-radius: 0;
}

#linkAprendiz {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #bbbbbb;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    bottom: 2%;
    font-size: medium;
}

#etc {
    cursor: pointer;
    position: absolute;
    left: 1%;
    bottom: 2%;
    background-color: #FABA04;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: medium;
    border-radius: 4px;
}

#source {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: absolute;
    bottom: 5%;
    width: 160px;
    height: 170px;
    background-color: #FABA04;
    box-shadow: 10px 10px #FA044B;
    padding: 5px;
    border-radius: 10px;
}

#fecharSource {
    position: absolute;
    right: 0%;
    top: -1%;
    color: #bfc1c2;
    background-color: #343434;
    cursor: pointer;
    width: 25px;
}

#linksLista {
    list-style: none;
    cursor: help;
}

#logo {
    display: flex;
    position: absolute;
    background-image: url("/src/fotos/Logo/L1.png");
    background-repeat: no-repeat;
    width: 626px;
    height: 135px;   
}

.hidden {
    visibility: hidden;
}

#KSD, #ESE, #PLG {
    position: absolute;
    cursor: pointer;
    transform: translate(-50%, -50%);
    left: 40%;
    bottom: 19%;
    width: 80px;
    background-color: #bfc1c2;
    border: none;
    border-radius: 10px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

#todosAlunos {
    position: absolute;
    color: #c8c8c8;
    top: 25%;
    left: 0%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    pointer-events: none;
}

.opacidade {
    filter: grayscale(0.8);
}

#textoAudio{
    position: absolute;
    bottom: 40%;
    right: 0%;
}