body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1C2C4C;
}

* {
    font-family: 'Quicksand', sans-serif;
}

#trocarTema {
    left: 0;
    height: 50%;
    background-color: #343434;
    color: #F5F5F5;
    border-radius: 6px;
}

.temaBranco {
    background-color: #F5F5F5;
}

.temaBranco #todosAlunos,
.temaBranco #linkAprendiz,
.temaBranco #visaoEspro-link {
    color: #343434;
}

.temaBranco #textoTuto {
    background-color: #343434;
    color: #ffffff;
}

.temaBranco #avancarC,
.temaBranco #avancarC2,
.temaBranco #avancarC3 {
    background-color: #343434;
    color: #F5F5F5;
}

.temaBranco #links {
    box-shadow: 8px 8px #343434;
    background-color: #c8c8c8
}

.temaAmarelo {
    background-color: #FABA04;
}

.temaAmarelo #todosAlunos,
.temaAmarelo #linkAprendiz,
.temaAmarelo #visaoEspro-link {
    color: #343434;
}

.temaAmarelo #avancarC,
.temaAmarelo #avancarC2,
.temaAmarelo #avancarC3 {
    background-color: #F5F5F5;
    color: #343434;
}

.temaAmarelo #links {
    background-color: #F5F5F5;
    box-shadow: 8px 8px #343434;
}

.temaAmarelo #comoFoi {
    background-color: #F5F5F5;
}

.temaVermelho {
    background-color: #FC233F;
}

.temaVermelho #todosAlunos,
.temaVermelho #linkAprendiz,
.temaVermelho #visaoEspro-link {
    color: black;
}

.temaVermelho #avancarC,
.temaVermelho #avancarC2,
.temaVermelho #avancarC3 {
    background-color: #343434;
    color: #F5F5F5;
}

.temaVermelho #links {
    box-shadow: 8px 8px black;
}

.temaVerde {
    background-color: #04AC94;
}

.temaVerde #todosAlunos,
.temaVerde #linkAprendiz,
.temaVerde #visaoEspro-link {
    color: black;
}

.temaVerde #avancarC,
.temaVerde #avancarC2,
.temaVerde #avancarC3 {
    background-color: #F5F5F5;
    color: #343434;
}

.temaVerde #links {
    box-shadow: 8px 8px #F5F5F5;
    background-color: #bbbbbb;
}

.temaBlack img {
    filter: brightness(70%);
}

.temaBlack {
    background-color: #16161D;
}

.temaBlack #links {
    box-shadow: 8px 8px #343434;
    background-color: #272733;
    color: #bbbbbb;
    filter: brightness(80%);
}

.temaBlack #logo {
    opacity: 0.5;
}

.temaBlack #textoTuto {
    opacity: 0.3;
    background-color: #16161D;
    color: whitesmoke;
    box-shadow: 0px 2px #bbbbbb;
}

.temaBlack #todosAlunos,
.temaBlack #linkAprendiz,
.temaBlack #fecharVisao,
.temaBlack #add_removerVoz {
    opacity: 0.3;
}

.temaBlack #avancarC,
.temaBlack #avancarC2,
.temaBlack #avancarC3 {
    color: white;
    background-color: #16161D;
}

.temaBlack #visaoEsproTexto {
    opacity: 0.5;
}

.temaBlack #comoFoi {
    opacity: 0.5;
    background-color: #343434;
    color: #bbbbbb;
}

.temaBranco .opacidade,
.temaAmarelo .opacidade,
.temaVerde .opacidade,
.temaVermelho .opacidade {
    opacity: 0.7;
}

img {
    -webkit-user-drag: none;
    border-radius: 10px;
    user-select: none;
}

button:hover {
    cursor: pointer;
    opacity: 85%;
}

#Paulo,
#Lucas,
#Guilherme,
#Kamila,
#Sandra,
#Daniela,
#Ester,
#Sarah,
#Edvan {
    border-radius: 10px;
    background-color: unset;
    border: none;
}

#container,
#container2,
#container3 {
    position: absolute;
    left: 35%;
    list-style: none;
    bottom: 30%;
    user-select: none;
    padding: 0%;
}

li {
    margin-bottom: 5px;
}

#avancarC,
#avancarC2,
#avancarC3 {
    width: 90px;
    background-color: #bfc1c2;
    border-radius: 10px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    font-size: medium;
    border: none;
}

#textoTuto {
    font-size: small;
    background-color: #ffffff;
    position: fixed;
    top: 1%;
    text-align: center;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 3px;
    pointer-events: none;
    right: 0%;
}

#visaoEspro-link {
    position: fixed;
    color: #FABA04;
    font-size: small;
    height: max-content;
    text-align: center;
    bottom: 35%;
    right: 5%;
}

#fecharVisao {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: start;
    font-size: xx-small;
    padding: 0.5%;
    color: white;
}

#texto {
    transform: translateY(50%);
    position: fixed;
    bottom: 45%;
    right: 5%;
    text-align: center;
    display: flex;
    height: max-content;
    width: 40%;
    margin: 30px 0;
    color: #ffffff;
    border-bottom-right-radius: 0;
    font-size: large;
}

#visaoEsproTexto {
    background: #16161D;
}

#linkAprendiz {
    color: #bbbbbb;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    bottom: 2%;
    width: max-content;
}

#comoFoi {
    position: absolute;
    left: 0%;
    bottom: 0%;
    background-color: #FABA04;
    font-size: medium;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;

}

#links {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: absolute;
    bottom: 1%;
    width: 160px;
    height: max-content;
    background-color: #FABA04;
    box-shadow: 8px 8px #FA044B;
    padding: 5px;
    border-radius: 10px;
}

#fecharLinks {
    position: absolute;
    right: 0%;
    top: 0%;
    background-color: #343434;
    width: max-content;
}

#linksLista {
    list-style: none;
    cursor: help;
}

#logo {
    position: fixed;
    display: flex;
    top: 1%;
    left: 1%;
    max-width: 60%;
    max-height: 60%;
    pointer-events: none;
}

.hidden {
    visibility: hidden;
}

#todosAlunos {
    position: absolute;
    color: #c8c8c8;
    top: 30%;
    left: 2%;
    padding: 0%;
    border-radius: 10px;
    list-style: none;
}

.opacidade {
    filter: grayscale(0.8);
}

#add_removerVoz {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 5px;
    background-color: white;
    font-size: xx-small;
    padding: 0.5%;
}

.block {
    display: none;
}

.bloqueiaLista {
    display: list-item;

}

.boxP {
    box-shadow: 0px 8px #bfc1c2;
}

.boxL {
    box-shadow: 0px 8px #F16B39;
}

.boxG {
    box-shadow: 0px 8px #257FFF;
}

.boxK {
    box-shadow: 0px 8px #9966cc;
}

.boxS {
    box-shadow: 0px 8px #863e61;
}

.boxD {
    box-shadow: 0px 8px #485643;
}

.boxE {
    box-shadow: 0px 8px #6aa84f;
}

.boxSa {
    box-shadow: 0px 8px #cbbf99;
}

.boxEd {
    box-shadow: 0px 8px #b70000;
}