@media screen and (min-width: 1920px) {

    #visaoEspro-link {
        top: 50%;
    }

    #textoTuto {
        top: 20%;
    }

    #PauloAPFoto,
    #LucasFoto,
    #GuilhermeFoto,
    #KamilaFoto,
    #SandraFoto,
    #DanielaFoto,
    #EsterFoto,
    #SarahFoto,
    #EdvanFoto {
        height: 80px;
        width: 80px;
    }

    #PauloAP,
    #Kamila,
    #Ester {
        top: 40%;
        left: 40%;
    }

    #Lucas,
    #Sandra,
    #Sarah {
        top: 50%;
        left: 40%;
    }

    #Guilherme,
    #Daniela,
    #Edvan {
        top: 60%;
        left: 40%;
    }

    #KSD, #ESE, #PLG {
        bottom: 30.5%;
    }
    
}

@media (max-width: 600px) {
    #container:not(.hidden),
    #container2:not(.hidden),
    #container3:not(.hidden) {
        display: flex;
    }

    #container,
    #container2,
    #container3 {
        justify-content: center;
        position: fixed;
        bottom: 15%;
        width: 100%;
    }

    #PauloAP,
    #Lucas,
    #Guilherme,
    #Kamila,
    #Sandra,
    #Daniela,
    #Ester,
    #Sarah,
    #Edvan {
        position: static;
        margin: 0 5px;
        transform: none;
    }

    #PauloAPFoto,
    #LucasFoto,
    #GuilhermeFoto,
    #KamilaFoto,
    #SandraFoto,
    #DanielaFoto,
    #EsterFoto,
    #SarahFoto,
    #EdvanFoto  {
        height: 60px;
        width: 60px;
        align-items: center;
    }


    #KSD, #ESE, #PLG {
        left: 90%;
        width: 30px;
        height: 20px;
        top: 80%;
        height: max-content;
        width: max-content;
    }


    #linkAprendiz {
        bottom: 6%;
        width: max-content;
        font-size: small;
    }

    #textoTuto {
        font-size: small;
        top: 15%;
        left: 0%;
        height: max-content;
        width: fit-content;
        text-align: center;
    }

    #todosAlunos {
        top: 30%;
        font-size: small;
    }

    #visaoEspro {
        top: 48%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0.4);
    }

    #visaoEspro-midia {
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0.7);
    }

    #visaoEsproTexto {
        top: 39%;
        left: auto;
        font-size: 19px;
    }

    #fecharVisao {
        top: 36%;
    }

    #source {
        width: 140px;
        height: 140px;
        font-size: small;
        text-align: left;
    }

    #etc {
        font-size: x-small;
    }

    #textoAudio{
        top: 75%;
    }

   #logo {
   width: 350px;
   height: auto;
   }

}

/*Problemas com a lista ao mudar a perspectiva, investigar depois*/

@media (max-height: 500px) {

    #fecharVisao {
        top: 30%;
        max-height: fit-content;
        max-width: fit-content;
        font-size: x-small;
    }

    #textoTuto {
        top: 25%;
        left: 0%;
        font-size: 12px;
        height: max-content;
        width: max-content; 
    }

    #todosAlunos {
        top: 26%;
        font-size: small;
    }

    #PauloAPFoto,
    #LucasFoto,
    #GuilhermeFoto,
    #KamilaFoto,
    #SandraFoto,
    #DanielaFoto,
    #EsterFoto,
    #SarahFoto,
    #EdvanFoto {
        height: 50px;
        width: 50px;
    }

    #anterior {
        left: 23%;
        width: 20px;
        height: 20px;
        top: 40%;
        height: max-content;
        width: max-content;
    }

    #KSD, #ESE, #PLG {
        left: 23%;
        width: 20px;
        height: 20px;
        bottom: 15%;
        height: max-content;
        width: max-content;
    }

    #visaoEsproTexto {
        top: 35%;
        font-size: medium;
        right: 5%;
    }

    #visaoEspro {
        width: 300px;
        height: 300px;
        left: 50%;
    }

    #PauloAP,
    #Kamila,
    #Ester {
        top: 40%;
        left: 30%;
    }

    #Lucas,
    #Sandra,
    #Sarah {
        top: 60%;
        left: 30%;
    }

    #Guilherme,
    #Daniela,
    #Edvan {
        top: 80%;
        left: 30%;
    }

    #etc {
        font-size: x-small;
    }

    #source {
        width: 140px;
        height: 140px;
        font-size: smaller;
        text-align: left;
    }

    #linkAprendiz {
        bottom: 1%;
        width: max-content;
        font-size: x-small;
    }

    #textoAudio{
        bottom: 20%;
    }

    #trocarTema {
        height: 20vh;
    }

    #logo {
        width: 350px;
        height: auto;
        }

}