@media (max-height:420px) {
    body {
        font-size: small;
    }

    img {
        width: 45px;
    }

    #linkAprendiz {
        font-size: x-small;
    }

    #logo {
        width: 40%;
    }

    #container,
    #container2,
    #container3 {
        left: 20%;
        bottom: 1%;
    }

    #avancarC,
    #avancarC2,
    #avancarC3 {
        width: max-content;
    }

    #links {
        width: max-content;
        height: max-content;
        font-size: smaller;
        text-align: left;
    }

    #trocarTema {
        height: 90px;
    }

    #texto {
        font-size: small;
        right: 5%;
        bottom: 30%;
    }

    #comoFoi {
        font-size: x-small;
    }

    #textoTuto {
        font-size: x-small;
    }

    li {
        margin-bottom: 2px;
    }

    #todosAlunos {
        font-size: x-small;
        top: 35%;
    }

    #fecharLinks {
        font-size: x-small;
    }

    #visaoEspro-link {
        bottom: 15%;
    }
    

}

@media (max-width: 600px) {
    .bloqueiaLista {
        display: none;
    }

    #linkAprendiz {
        font-size: small;
        bottom: 5%;
    }

    #comoFoi {
        font-size: x-small;
    }

    #container,
    #container2,
    #container3 {
        display: inline-flex;
        left: 0%;
        bottom: 10%;
        transform: translateX(-50%);
        left: 50%;
    }

    #avancarC,
    #avancarC2,
    #avancarC3 {
        width: max-content;
        text-align: center;
    }

    #texto {
        transform: translateY(-50%);
        width: 100%;
        top: 45%;
        left: 0%;
    }

    #textoTuto {
        font-size: small;
        top: 15%;
    }

    img {
        width: 70px;
    }

    li {
        margin-right: 5px;
    }

    #todosAlunos {
        left: 5%;
        font-size: small;
    }

    #links {
        width: max-content;
        font-size: small;
        text-align: left;
    }

    #fecharLinks {
        font-size: x-small;
    }
}